.popup {
    visibility:hidden;
    width: 400px;
    background-color: #fefefe;
    
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    
    font-size:14px !important; 
    font-style:normal !important;
    
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}